body{
    margin: 0;
}

h1{
    margin: 0;
    background-color: rgb(255, 60, 255);
    color: white;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    font-family: trebuchet ms;
    font-size: 70px;
    text-align: center;  letter-spacing: 12px;
}

#introduction{
    text-align: center; font-weight: 150; font-style: italic;
}

.first-question{
    display:flexbox; justify-content: center;  border: 2px solid rgb(255, 65, 215); margin-left: 35%; margin-right: 35%;
    border-radius: 10px; box-shadow: 2px 2px 2px rgb(164, 164, 164); height: 140px;
}

p{  text-align: center;
    font-family: arial; font-weight: 750;
}

button{
    border:none; color: white; background-color: rgb(0, 0, 123); font-size: 18px; font-family: arial; border-radius: 5px;
    height: 40px; width: 100px;
}
button:hover{transform: scale(1.05); transition-duration: 0.1s; border-radius: 15px; text-decoration: underline;}
#button-option{
    display: flex; justify-content: space-evenly;
}

#section1{
    height: 100px; width: 500px; background-color: rgb(209, 130, 80); opacity: 10%;
 
}
#section1:hover{transform: scale(1.05); opacity: 100%; transition-duration: 0.3s;}

.login-forms{
    display: flex; justify-content: space-evenly;
}

section{border: 2px solid rgb(255, 150, 59); border-radius: 10px; height: 250px; width:400px; padding: 1.5%;}